<div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="row g-0">
                <div class="gradient-custom text-center text-black"
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;" *ngIf="event">
                    <h2>{{event.name}}</h2>
                    <hr class="mt-0 mb-4">
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-secondary m-2" *ngIf="!inFavorite" (click)="addToFavorites()">Ajouter
                            aux favoris</button>
                        <button class="btn btn-secondary m-2" *ngIf="inFavorite" (click)="removeToFavorites()">Retirer
                            des favoris</button>
                        <button class="btn btn-secondary m-2" (click)='modifyEvent()' *ngIf="isCreator">Modifier
                            l'évènement</button>
                    </div>
                    <hr class="mt-0 mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{event.picture}}" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-6" style="float:none;margin:auto;">
                                <h6 class="m-4">Thème : <span class="text-muted">{{event.theme}}</span></h6>
                                <h6 class="m-4">Prix : <span class="text-muted">{{event.price}}€</span></h6>
                                <h6 class="m-4">Date : <span class="text-muted">{{event.date}}</span></h6>
                        </div>
                    </div>
                </div>

                <hr class="mt-0 mb-4">
                    <h6>Utilisateurs ayant mis en favoris l'évènement :</h6>
                    <div class="list-group" *ngIf="event">
                        <a href="#" class="list-group-item list-group-item-action" *ngFor="let user of event.favorite_by">{{user.displayName()}}</a>
                    </div>
                </div>
        </div>
    </div>
</div>