<nav class="navbar navbar-expand-lg bg-light navbar-light" *ngIf="userService.user">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="/assets/images/logo.svg" draggable="false" height="30" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/']"><i class="fas fa-calendar-days pe-2"></i>Evènements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/event', 'create']"><i class="fas fa-plus pe-2"></i>Créer un évènement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/chat']"><i class="fas fa-comments pe-2"></i>Chat</a>
        </li>
        <div class="nav-item dropdown">
          <a class="dropdown-toggle d-flex align-items-center hidden-arrow nav-link" href="#" data-bs-toggle="dropdown"
            id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">

            <span class="nav-link mx-2">{{userService.user.displayName()}}</span>
            <img src="" class="rounded-circle" height="25" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li>
              <a class="dropdown-item" [routerLink]="['/user']">Mon profil</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="disconnectUser()">Déconnexion</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>