<div class="row d-flex justify-content-center align-items-center my-4">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 15px;">
            <div class="card-body px-5">
                <h2 class="text-center mb-5">{{ isLogin ? 'Connexion' : 'Créer un compte' }}</h2>
                <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="row" *ngIf="!isLogin">
                        <div class="form-outline col-md-6 mb-2">
                            <label class="form-label">Prénom</label>
                            <input type="text" minlength="3" maxlength="20" class="form-control"
                                required="required" name="firstname" #firstname="ngModel"
                                [(ngModel)]="newUser.firstname" />
                            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                                class="text-danger">
                                <div *ngIf="firstname.errors?.['required']">Prénom requis</div>
                                <div *ngIf="firstname.errors?.['minlength']">Le prénom doit comporter au moins 3
                                    caractères</div>
                            </div>
                        </div>

                        <div class="form-outline col-md-6 mb-2">
                            <label class="form-label">Nom</label>
                            <input type="text" minlength="3" maxlength="20" class="form-control"
                                required="required" name="lastname" #lastname="ngModel"
                                [(ngModel)]="newUser.lastname" />
                            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                                <div *ngIf="lastname.errors?.['required']">Nom requis</div>
                                <div *ngIf="lastname.errors?.['minlength']">Le nom doit comporter au moins 3
                                    caractères</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!isLogin">
                        <div class="form-outline col-md-6 mb-2">
                            <label class="form-label">Pseudo</label>
                            <input type="text" minlength="3" maxlength="20" class="form-control"
                                required="required" name="username" #username="ngModel"
                                [(ngModel)]="newUser.username" />
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                                <div *ngIf="username.errors?.['required']">Pseudonyme requis</div>
                                <div *ngIf="username.errors?.['minlength']">Le pseudo doit comporter au moins 3
                                    caractères</div>
                            </div>
                        </div>

                        <div class="form-outline col-md-6 mb-2">
                            <label class="form-label">Date de naissance</label>
                            <input type="date" class="form-control" required="required" name="birthdate" (input)="dateVerify($event)"
                                #birthdate="ngModel" [ngModel]="newUser.birth| date:'yyyy-MM-dd'" (ngModelChange)="newUser.birth = $event" />
                            <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched) || !isDateValid"
                                class="text-danger">
                                <div *ngIf="birthdate.errors?.['required']">Date de naissance requise</div>
                                <div *ngIf="!isDateValid">Date de naissance invalide</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" required="required" name="email"
                            #email="ngModel" [(ngModel)]="newUser.email"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}" />
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                            <div *ngIf="email.errors?.['required']">Email requis</div>
                            <div *ngIf="email.errors?.['pattern']">Format d'email invalide</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline col-md-6 mb-2" *ngIf="!isLogin">
                            <label class="form-label">Mot de passe</label>
                            <input type="password" minlength="4" class="form-control"
                                required="required" name="password" #password="ngModel" [(ngModel)]="passwordValue" />
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <div *ngIf="password.errors?.['required']">Mot de passe requis</div>
                                <div *ngIf="password.errors?.['minlength']">Le mot de passe doit comporter au moins 4
                                    caractères</div>
                            </div>
                        </div>
                        <div class="form-outline mb-2" *ngIf="isLogin">
                            <label class="form-label">Mot de passe</label>
                            <input type="password" minlength="4" class="form-control"
                                required="required" name="password" #password="ngModel" [(ngModel)]="passwordValue" />
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <div *ngIf="password.errors?.['required']">Mot de passe requis</div>
                            </div>
                        </div>

                        <div class="form-outline col-md-6 mb-2" *ngIf="!isLogin">
                            <label class="form-label">Confirmer le mot de passe</label>
                            <input type="password" minlength="4" class="form-control"
                                required="required" name="checkPassword" #checkPassword="ngModel" [(ngModel)]="checkPasswordValue" />
                            <div *ngIf="!checkPasswordsMatch()" class="text-danger">
                                Les mots de passe ne correspondent pas
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2" *ngIf="!isLogin">
                        <label class="form-label">Photo de profil : </label>
                        <label *ngFor="let item of userService.avatars; let i = index" >
                            <input required checked type="radio" name="picture" class="form-control disabledImage" [value]="item" style="display: none;"
                            #picture="ngModel" [(ngModel)]="newUser.picture" (change)="changeImageURL($event, i)">
                            <img [src]="item" [style.width.px]="50" class="formImageChoice disabledImage mx-1">
                        </label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button *ngIf="!isLogin" type="submit" [disabled]="registerForm.pristine || registerForm.invalid || !checkPasswordsMatch() || !isDateValid" type="submit"
                            class="btn btn-success">S'inscrire</button>
                        <button *ngIf="isLogin" type="submit" [disabled]="!isLogin || registerForm.invalid" type="submit"
                            class="btn btn-success">Se connecter</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">{{ !isLogin ? "Vous avez déjà un compte ?" : "Vous n'avez pas de compte ?" }}
                        <button (click)="changeIsLogin()" type="button" class="btn btn-secondary">{{ !isLogin ? "Se connecter" : "S'inscrire" }}</button>
                    </p>

                </form>

            </div>
        </div>
    </div>
</div>